extends layout

block header
  h2 Course page for: 
    strong Digital Multimedia

block content
  section(class="column small-12")
    h2 Prerequisites
    p.
      In order to complete the mandatory assignments during the course you will need to bring your own computer. You
      will also have to install all the software listed below in the software section. I expect you all to have
      downloaded and installed this prior to the first class on monday.
    p.
      You will also need devices for capturing images and film, a phone will do, but of course a good camera would be
      more fun. You will need a tripod (or other device to hold your camera in position) for making stop motion, but
      only one pr group is necessary, so if you have it bring it, and I will try to make sure there is one in every
      group.
  section(class="column small-12")
    h2 About the course
    p.
      The main purpose of the course is to introduce students to basic principles of each media type - text, graphics,
      audio, animation and video - describing their digitization and progressing into issues that arises when media are
      combined; interaction provided by scripting and multimedia distributed over networks.
    p.
      This is conveyed through a number of lectures on the theoretical aspects of the course, each followed by group
      work on exercises related to the topic of the lecture. There will be a series of small mandatory individual
      assignments during the course, as well as a larger group project.
    h4 About the lecturer
    p.
      My name is Alexandra, I'm 25 years old, and I'm currently studying computer science at Aarhus University.
      If you have any questions feel free to contact me at
      #[a(href="mailto:alexandra.hou@gmail.com") alexandra.hou@gmail.com]
  section(class="column small-12")
    h2 Literature and Software
    p.
      The book used for this course: #[strong digital multimedia] by Nigel Chapman and Jenny Chapman (DM)
    p.
      The software used during this course:
    p.callout.warning.
      Since Adobe has shortened their trial period to 7 days, most of the software to be used is unknown.
    ul
      li Inkscape
      li Atom
      li Photoshop/Gimpshop
    p.
      Inkscape can be found
      #[a(href="https://inkscape.org/en/download/" target="_blank") here]
    p.
      Atom can be found #[a(href="https://atom.io" target="_blank") here]
    p.
      Gimpshop can be found #[a(href="https://www.gimpshop.com" target="_blank") here]
  section(class="column small-12")
    h2 Course plan
    p.
      The general day schedule. (tuesday-friday week 1 and monday-thursday week 2)
    table
      thead
        tr
          th Time
          th Activity
      tbody
        tr
          td 9-10
          td Lecture
        tr
          td 10:15-11:15
          td Group work on exercises
        tr
          td 11:30-12:00
          td Group work
        tr
          td 12:00-13:00
          td Lunch breaks
        tr
          td 13:00-14:00
          td Work on individual assignments
    p.
      The course plan is updated regularly with more information, so remember to check back.
    h4 Week 1
    table
      thead
        tr
          th.WeekdayCol Weekday
          th.SubjectCol Subjects
          th.LitteratureCol Literature
          th.ExercisesCol Exercises
          th.AssignmentsCol Assignments
      tbody
        tr
          td Monday
          td Introduction to the course, colours #[a(href="slides/day-1" target="_blank") slides]
          td DM chapter 1, 2 and 5 (Colour and Science through Other Colour Models)
          td #[a(href="notes/day-1-exercises" target="_blank") day 1]
          td
        tr
          td Tuesday
          td Vector graphics, SVG #[a(href="slides/day-2" target="_blank") slides]
          td DM chapter 3
          td #[a(href="notes/day-2-exercises" target="_blank") day 2]
          td #[a(href="notes/assignment-1" target="_blank") assignment 1]
        tr
          td Wednesday
          td Bitmapped images
          td DM chapter 4
          td
          td
        tr
          td Thursday
          td Animation
          td
          td
          td
        tr
          td Friday
          td Video
          td
          td
          td
    h4 Week 2
    table
      thead
        tr
          th.WeekdayCol Weekday
          th.SubjectCol Subjects
          th.LitteratureCol Literature
          th.ExercisesCol Exercises
          th.AssignmentsCol Assignments
      tbody
        tr
          td Monday
          td Sound
          td
          td
          td
        tr
          td Tuesday
          td Text and typography, Stop motion
          td
          td
          td
        tr
          td Wednesday
          td Hypermedia, scripting
          td
          td
          //#[a(href="http://www.w3schools.com") www.w3schools.com]
          td
        tr
          td Thursday
          td Design principles
          td
          td
          td
        tr
          td Friday
          td no class today, time to work on assignment 5
          td
          td
          td
    h4 Week 3
    table
      thead
        tr
          th.WeekdayCol Weekday
          th.SubjectCol Subjects
          th.LitteratureCol Literature
          th.ExercisesCol Exercises
          th.AssignmentsCol Assignments
      tbody
        tr
          td Monday
          td Group project
          td
          td
          td
        tr
          td Tuesday
          td Group project
          td
          td
          td
        tr
          td Wednesday
          td Group project
          td
          td
          td
        tr
          td Thursday
          td Presentations of projects
          td
          td
          td
        tr
          td Friday
          td Graduation
          td
          td
          td
  section(class="column small-12")
    h2 Individual assignments
    p.
      During the course there will be 5 individual assignments that you will be required to hand in. To hand in an
      assignment you simply send all the required files (will be outlined in the description of the assignment) to me
      at #[a(href="mailto:alexandra.hou@gmail.com") alexandra.hou@gmail.com]. Remember to put your full name in the
      mail, since these assignments will be a part of your final grade.
    p.
      The last hour of each day will focus on these assignments and give you time in class to work, remember this is
      also an opportunity to ask questions while working on the assignment.
    p.
      The overall goal of the individual assignments is to create a business card ready to launch as a website. It is
      therefore a good idea to bear in mind that the 4 first assignments should coexist in the final product.
  section(class="column small-12")
    h2 Group project
    p.
      You must form groups of 3-4 people (there will be time for this on the first day). The project is very open, the
      only requirement is that you combine more than one media into a multimedia project.
    p.
      You will have to make a written description of your project and send to me no later than 10/8-16 12.00 (noon)
      You will also have to present your project to the rest of the class on the 11/8-16.
    p.
      Monday through wednesday of the last week is devoted to making this project. During those days you will work full
      time on your project, my main function will be to answer any question that arises in the process. Since 3 days is
      not a lot of time, I suggest that you during the course discuss ideas in your group, so that when you start
      working on your project, you already have a vision of the project.
  section(class="column small-12")
    h2 Course Evaluation
    p.
      All students will be graded according to the Danish grading scale. The grade will be based on your individual
      assignments (50%) and on your group project including the written description (50%). Attendance during the course
      is mandatory.
    table
      thead
        tr
          th Danish mark
          th Explanation of the mark
          th Equivalent ECTS mark
      tbody
        tr
          td 12
          td For an excellent performance
          td A
        tr
          td 10
          td For a very good performance
          td B
        tr
          td 7
          td For a good performance
          td C
        tr
          td 4
          td For a fair performance
          td D
        tr
          td 02
          td For an adequate performance
          td E
        tr
          td 00
          td For an inadequate performance
          td Fx
        tr
          td -3
          td For an unacceptable performance
          td F