extends layout

block header
  h2 Course page for: #[strong Digital Multimedia]
  
block content
  section.column.small-12
    h2 Assignment 5
    h4 Hypermedia and design
    p.
      Design a website that has all your previous assignments embedded. Carefully consider the design of the site
      including your colour palette.
      The website should also contain text, here you have to consider fonts.
    p.
      The initial idea of the website was that you should do an online business card containing relevant info on yourself
      along with the different stuff you have done during this course, but if you have a crazy amazing idea that still
      embeds all your previous assignments in the website, but you think is way cooler than doing a business card, that
      will be okay as well.
    p.
      For this assignment you are allowed to use frameworks, but I expect you to do your own design and not just fill
      in text and media in a pre made design template.
    p.
      Include a short description of your main considerations regarding the design of the website.
    p.
      #[strong Deadline: 8/8-16 9.00 am]
