extends layout

block header
  h2 Course page for: #[strong Digital Multimedia]
  
block content
  section.column.small-12
    h2 Assignment 2
    h4 Bitmapped images
    p.
      For this assignment you are supposed to do an image of yourself. The image is to be shown on a website, so make
      sure scale and colouring are web compatible.
    p.
      So first of all, you need an image of yourself, if you don't have one take one, then edit it using either
      gimp or photoshop.
    h5 Requirements
    ul
      li There must be at least 2 layers
      li There has to be a layer mask on at least one of your layers
      li In some way tweak the colours
    p.
      Along with the image (.xcf or .psd) I would also like the original and a short description of the alterations you
      have made. This might be a large file, so you can choose to hand it in by bringing a USB with the files on friday.
    p.
      #[strong Deadline: 29/7-16 9.00 am]
