extends layout

block header
  h2 Course page for: #[strong Digital Multimedia]
  
block content
  section.column.small-12
    h2 Assignment 5
    h4 Webpage
    p.
      More info will be available on thursday.
    p.
      #[strong Deadline: 8/8-16 9.00 am]
