extends layout

block header
  h2 Course page for: #[strong Digital Multimedia]
  
block content
  section.column.small-12
    h2 Assignment 1
    h4 Logo
    p.
      The first assignment is to create a logo to represent yourself in vector graphics.
    p.
      If you lack inspiration, you can always do some neat stuff with your initials. I will show an example solution at
      the lecture.
    p.
      Hand in an svg file of your logo to #[a(href="mailto:alexandra.hou@gmail.com") alexandra.hou@gmail.com].
    p.
      #[strong Deadline: 28/7-16 9.00 am]