extends layout

block header
  h2 Course page for: #[strong Digital Multimedia]
  
block content
  section.column.small-12
    h2 Assignment 4
    h4 Sound
    p.
      In this assignment you are to make a podcast. You should record some speech and shine it up (i.e. remove unwanted
      noise) You should then add underlying music that alternates the volume according to the speech, and that connects
      thematically to the subject of the speech.
    p.
      You should hand in a mp3 file along with a written description of what you have actually done.
    p.
      #[strong Deadline: 3/8-16 9.00 am]
