extends layout

block header
  h2 Course page for: #[strong Digital Multimedia]
  
block content
  section.column.small-12
    h2 Assignment 3
    h4 Animation
    p.
      Animate your own character (Use a character you made in the exercises or make a new one)
    p.
      Your character should be able to do 3 things: walk, jump, and some movement that relates to the nature of your
      character (i.e. a crab would be able to pinch it's claws)
    p.
      #[strong Deadline: 1/8-16 9.00 am]
