extends layout

block header
  h2 Course page for: #[strong Digital Multimedia]
  
block content
  section.column.small-12
    h2 Exercises: day 8
    h4 Text and typography
    h5 Exercise 1
    p.
      Discuss within your groups which characteristics that you would expect along with what you would find interesting
      in a font used for:
    ul
      li The opening credits of a science fiction movie
      li Your Curriculum Vitae
      li The body text of a newspaper article (printed)
      li A wedding invitation
      li The body text of a web page about a college course (does your expectations match this course page?)
      li The list of ingredients on a chocolate bar
    h5 Exercise 2
    p.
      Implement the use of fonts in your css stylesheet from yesterday. (If you didn't have a lot of text, then you
      should also write some text so you can see the effect of adding the font to the stylesheet.)
