extends layout

block header
  h2 Course page for: #[strong Digital Multimedia]
  
block content
  section.column.small-12
    h2 Exercises: day 6
    h4 Sound
    p.
      A manual for Audacity can be found
      #[a(href="http://manual.audacityteam.org/index.html" target="_blank") here]
    p.
      For the first exercise you can use #[a(href="/static/images/efterklang.mp3" download=true) this] audio file, or
      something you have lying around. (for those of you using safari as your browser: alternative click and download to
      get the audio file linked to above)
    p.
      You can also take the sound from a youtube video (a youtube to mp3 site can be found
      #[a(href="http://www.youtube-mp3.org/uk" target="_blank") here])
    h5 Exercise 1
    p.
      Take an audio file that has some unwanted parts and remove these. You should also fade the audio in and out.
      You can either use a file you have yourself or use the one given above.
    h5 Exercise 2
    p.
      Make a medley. To do this you need at least 2 audio tracks, you should combine these in a way so that the
      transition between them becomes as hard to detect as possible. (hint: if you find songs with similar beat and
      using some of the same chords this will be a lot easier.)
    h5 Exercise 3
    p.
      I'm all about that bass. Take a song and drop the bass.
    h5 Exercise 4
    p.
      Play around with the other effects: Apply each effect individually and listen to how a track changes when it is
      applied, and also notice how the waveforms change.
    p.
      If you have done exercise 1 through 4 before 11.30 please raise a hand and I will add additional exercises.