extends layout

block header
  h2 Course page for: #[strong Digital Multimedia]
  
block content
  section.column.small-12
    h2 Exercises: day 2
    h4 Vector Graphics and Inkscape
    p.
      Tutorials for Inkscape can be found #[a(href="https://inkscape.org/en/learn/tutorials/" target="_blank") here].
      The point of the tutorials is not that you go over them from one end to the other, but to use for hints when
      stuck.
    h5 Exercise 1
    p.
      This is that
    h4 SVG
    p.
      In this part we are going to look at how to write SVG. In order to do so you will need a basic understanding of
      HTML and XML.
    p.
      #[a(href="http://www.w3schools.com/html/default.asp" target="_blank") HTML tutorial]
    p.
      #[a(href="http://www.w3schools.com/xml/default.asp" target="_blank") XML tutorial]
    p.
      #[a(href="http://www.w3schools.com/svg/default.asp" target="_blank") SVG tutorial]