extends layout

block header
  h2 Course page for: #[strong Digital Multimedia]
  
block content
  section.column.small-12
    h2 Exercises: day 1
    h4 Start group work
    p. 
      You will work in these groups throughout the entire course, therefore start by introducing yourself to each other.
      The basics would be name, age, what you do when you're not on summerschool here, prior experience in this field
      etc.
    p.
      Make sure all group members have downloaded/installed all the required software. You were all instructed to do so
      beforehand, but I expect some of you didn't receive my email, (gotta love spamfilters) or ran into some
      complications during the process.
    h4 Colours
    p.
      Discuss the exercises listed below with your group members. They can be found in the book at the end of chapter 5
      under exercises.
    ul
      li Test Questions 1, 2, 4, 5, 6, 7, 8, 9
      li Discussion topics 1, 3