extends layout

block header
  h2 Course page for: #[strong Digital Multimedia]
  
block content
  section.column.small-12
    h2 Exercises: day 4
    h4 Animation
    p.
      Use Spriter to do the animation part. You can use either Photoshop/Gimpshop or Illustrator/Inkscape to do the
      character design.
    h5 Exercise 1
    p.
      Create a stickfigure as vector graphics or bitmap, and export the different parts as png images. (you only need
      one png file for each shape as long as the pivot point should be placed identically)
    p.
      Make it dance by creating it in Spriter, and adding bones, and adjusting key-frames. (you should do three
      animations where the stick figure does different stuff)

