extends layout

block header
  h2 Course page for: #[strong Digital Multimedia]
  
block content
  section.column.small-12
    h2 Exercises: day 5
    h4 Video
    h5 Exercise 1
    p.
      This exercise is to be solved in your groups.
    ul
      li Take a picture of each group member.
      li Import the pictures into blender.
      li Arrange them, one after the other and create transitions between them.
      li Render your project as a video to be played outside of blender.
    h5 Exercise 2
    p.
      This is basically the same as exercise 1, but you should use small video clips instead of images.