extends layout

block header
  h2 Course page for: #[strong Digital Multimedia]
  
block content
  section.column.small-12
    h2 Exercises: day 2
    h4 Vector Graphics and Illustrator
    h4 SVG
    p.
      #[a(href="http://www.w3schools.com/svg/default.asp" target="_blank") SVG tutorial]