extends layout

block header
  h2 Course page for: #[strong Digital Multimedia]
  
block content
  section.column.small-12
    h2 Exercises: day 7
    h4 Hypermedia
    p.
      You can find tutorials for the different aspects of HTML here
      #[a(href="http://www.w3schools.com/html/default.asp" target="_blank") here] I recommend you take a look at this
      and browse around if you don't have a lot of experience with HTML or maybe just need a quick recap of some
      features.
    p.
      As for HTML there is a link #[a(href="http://www.w3schools.com/css/default.asp" target="_blank") here] regarding
      CSS.
    p.
      If you are only unfamiliar with the new multimedia features of HTML5 or just need to check what file types are
      supported by it, you can find the info
      #[a(href="http://www.w3schools.com/html/html_media.asp" target="_blank") here]
    p.
      For all the following exercises, if you have prior experience with HTML and CSS try to challenge yourself on
      creativity. In the following exercises you are not allowed to use templates or frameworks as bootstrap and the
      like. You should write everything from scratch and you should try to think about how aesthetically pleasing the
      webpage is to look at. Try to match colours from different places on the page, and in the different media types
      added to the page. Try to create consistency, so that every aspect fits well together.
    h5 Exercise 1
    p.
      Make a webpage in html, with a connected css stylesheet. The webpage should at least contain:
    ul
      li A headline
      li Some text
      li An image
      li Some styling
    h5 Exercise 2
    p.
      In this exercise you should make a second page and add links so that the two pages link each other. You should
      also make sure that both pages use the same css stylesheet.
    h5 Exercise 3
    p.
      Add video and audio where you see fit (take into consideration where it looks good from a design point of view)
    h5 Exercise 4
    p.
      Get a hold of me, and I will create this exercise on the basis of what you have created so far, and what looks
      like might be a fun challenge for you.