extends layout

block header
  h2 Course page for: #[strong Digital Multimedia]
  
block content
  section.column.small-12
    h2 Exercises: day 3
    h4 Bitmapped Images
    p.
      For those of you using Gimpshop, and remember all the Photoshop tools the book mentions; there is a Photoshop to
      gimpshop dictionary
      #[a(href="https://www.gimpshop.com/tutorials/translating-from-gimpshop-to-photoshop" target="_blank") here].
    h5 Exercise 1
    p.
      work with layers: make sure there are 2 copy's of your image, do some wierd stuff to one of them (i.e.
      apply a filter that obscures the image), make a layer mask and define different parts as transparent to see the
      original shine through.
    h5 Exercise 2
    p.
      Work with pixel point processing: Test the corrolation between the histogram shown and what is being produced when
      you change the curves according to that.
    h5 Exercise 3
    p.
      First choose an image, then write a paragraph about what you would like to do to it, last you try to do it. As the
      third exercise yesterday, this is exactly as difficult as you make it.