extends layout

block header
  h2 Course page for: #[strong Digital Multimedia]
  
block content
  section.column.small-12
    h2 Exercises: day 2
    h4 Vector Graphics and Inkscape
    p.
      Tutorials for Inkscape can be found #[a(href="https://inkscape.org/en/learn/tutorials/" target="_blank") here].
      The point of the tutorials is not that you go over them from one end to the other, but to use for hints when
      stuck.
    h5 Exercise 1
    p.
      To familiarize yourself with the program, draw different shapes. Make a drawing of a house with a sun and a tree.
      (think about a child's drawing and go for that look) This should force you to do a square (house) a triangle
      (roof) a circle (sun) straight lines (tree trunk) and bezier curves (tree foliage). Use appropriate colours for
      filling out the different shapes.

    h4 Vector Graphics and SVG
    p.
      In this part we are going to look at how to write SVG. In order to do so you will need a basic understanding of
      HTML and XML.
    p.
      I would like you all to go through the svg tutorial found
      #[a(href="http://www.w3schools.com/svg/default.asp" target="_blank") here], in case you feel you need more
      information on HTML or XML a tutorial for HTML can be found
      #[a(href="http://www.w3schools.com/html/default.asp" target="_blank") here], and a tutorial for XML
      #[a(href="http://www.w3schools.com/xml/default.asp" target="_blank") here]
    h5 Exercise 2
    p.
      Use a text editor (i recommend Atom, but you are free to choose whatever you like) to make the same drawing as in
      exercise 1 (the tree is optional in this assignment though)
    h4 More Vector Graphics
    p.
      This next exercise is exactly as difficult to solve as you choose it to be. The level of detail you want to
      achieve, combined with how realistic you expect the result to be, will impact how hard the exercise is to solve,
      and thereby also how much time you will need to finish it.
    p.
      The exercise is also meant to require a lot more creativity and thought on colour combination than the first
      two.
    h5 Exercise 3
    p.
      Create a flower. (If you're having a hard time getting started, use a picture of a flower as inspiration)