extends layout

block content
  section
    h2 Digital Multimedia
    i Day 8
  section
    h2 Agenda
    ul
      li Text and typography
        ul
          li Encoding
          li Fonts
          li Text in other media
  section
    h2 Encoding
    div.split-2-left
      img(src="/static/images/ASCII.png")
    div.split-2-right
      ul
        li ASCII
        li UTF-8
        li UTF-16
  section
    h2 Fonts
    div.split-2-left
      img(src="/static/images/fonts.png")
    div.split-2-right
      ul
        li Glyphs
        li Character codes and fonts
        li Classifying fonts
          ul
            li monospaced vs proportional
            li Serif vs sans serif
            li Font family
  section
    h2 More on fonts
    ul
      li Terminology
    div
      img(src="/static/images/Typography_Line_Terms.svg" width="150%")
  section
    h2 Text in other media
    ul
      li Embedded in images
      li wysiwyg vs tags
      li On the web
      li In video and animation