extends layout

block content
  section
    h2 Digital Multimedia
    i Day 3
  section
    h2 Agenda
    ul
      li Bitmapped images
        ul
          li Resolution
          li Resampling
          li Manipulation
  section
    h2 Resolution
    ul
      li Device resolution
      li Image resolution
      p.
        \[ \text{Physical dimension} = \frac{\text{Pixel dimension}}{\text{Pixel density}} \]
  section
    h2 Resampling
    ul
      li scaling
      li Interpolation schemes
        ul
          li Nearest neighbour
          li Bilinear
          li Bicubic
  section
    h2 Compression
    ul
      li Lossless
      li JPEG as lossy compression
  section
    h2 Image manipulation
    ul
      li Layers
      li Selection
      li Masks
      li Pixel point processing
      li Pixel group prosessing