extends layout

block content
  section
    h2 Digital Multimedia
    i Day 9
  section
    h2 Agenda
    ul
      li Visual design
        ul
          li Semiotics
          li Gestalt principles
          li Visual hierarchy
          li Colour
          li Layout
  section
    h2 Semiotics
    div.split-2-left
      img(src="/static/images/arrows.jpg")
    div.split-2-right
      ul
        li Signifier
        li Signified
      div
        img(src="/static/images/rightarrow.jpg" width="25%")
      div
        img(src="/static/images/downarrow.jpg" width="25%")
  section
    h2 Gestalt principles
    div.split-2-left
      img(src="/static/images/closure.jpg" width="60%")
      img(src="/static/images/figureground.jpg" width="60%")
    div.split-2-right
      ul
        li Grouping
          ul
            li Proximity
            li Similarity
        li Closure
        li figure ground phenomenon
  section
    h2 Visual hierarchy
    div.split-2-left
      img(src="/static/images/sizematters.jpg" width="100%")
      img(src="/static/images/colormatters.jpg" width="100%")
    div.split-2-right
      ul
        li Size
        li Colour
  section
    h2 Colour
    div.split-2-left
      img(src="/static/images/colour.png" width="100%")
    div.split-2-right
      ul
        li Contrast
        li Tonal values
        li The use of greyscale
  section
    h2 Layout
    div.split-2-3-left
      img(src="/static/images/align0.jpg" width="60%")
      img(src="/static/images/align1.png" width="60%")
    div.split-1-3-right
      ul
        li Alignment
        li Grids