extends layout

block content
  section
    h2 Digital Multimedia
    i Day 4
  section
    h2 Agenda
    ul
      li Animation
        ul
          li 2D-animation
          li 3D-animation
          li Inverse kinematics
      li Tutorial for Spriter
  section
    h2 2D-animation
    ul
      li an image for every frame
      li Cel animation
  section
    h2 3D-animation
    ul
      li Stop-motion
      li Clay animation
      li Special effects
  section
    h2 Interpolation
    ul
      li key frames
      li tweening
      li easing functions
  section
    h2 Inverse kinematics
    ul
      li Relationship between joint angles and pose
      li Standard in 3D animation
      li Recently also for 2D animation
      li Figures have "bones"
  section
    h2 Tutorial for Spriter