extends layout

block content
  section
    h2 Introduction to Digital Multimedia
    i Day 1
  section
    h2 Agenda
    ul
      li About the course
      li Media types
      li Digital Multimedia
      li Colours
      li Exercises
  section
    h2 About the course
    ul
      li Additional info can be found on housa.dk
      li Group exercises
      li Individual assignments
      li Group project
  section
    h2 Media types
    ul
      li Static vs time-based
      li static media
        ul
          li images
          li text
      li time-based media
        ul
          li video
          li animation
          li sound
  section
    h2 Digital Multimedia
    ul
      li manipulated as data
      li non-linearity
      li still fairly new
  section
    h2 Digital representation of media
    ul
      li images
        ul
          li bitmap
          li vector graphics
      li moving pictures
        ul
          li live-action
          li animation
      li sound
      li text
      li interactivity
      li metadata
  section
    h2 Colour
    ul
      li colour as wavelengths (SPD)
      li RGB (red, green, blue)
        ul
          li colour depth
          li indexed colour (colour tables)
          li posterization
          li dithering
      li CMYK (cyan, magenta, yellow, black)
        ul
          li subtraction instead of addition
          li subtractive primaries
      li HSL (hue, saturation, lightness)
